header{
    text-transform: uppercase;
    font-family: $font1;
    color: #fff;
    background: url(/assets/img/bg.jpg) fixed center/cover;
    padding: 60px 0;
    h1{
        font-size: 1.5rem;
        padding: 40px 0;
    }
}