.icon-part{
    background: #000;
    color: #fff;
    padding: 60px 0;
    .icon-part-container{
        @include flex-sbetween;
        @include block-center;
        .list-icon-part{
            width: 30%;
            img{
                width: 100%;
                padding: 20px 0;
            }
        }
        h3{
            text-transform: uppercase;
            font-family: $font1;
            font-size: .9rem;
            padding: 0 0 20px;
        }
        p{
            font-size: 1rem;
            display: -webkit-box;
            -webkit-line-clamp: 3; /*Nombre de lignes à afficher...*/ 
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        button{
            margin: 20px 0 0;
        }
    }
}

.news-part{
    padding: 50px 0;

    .header-news{
        padding: 0 0 30px;
        display: flex;
        @include block-center;
        height: 80px;
        align-items: center;
        .left-part{
            text-align: left;
            width: 70%;
            h2{
                text-transform: uppercase;
            }
            p{
                font-size: .8rem;
            }
        }
        .right-part{
            text-align: center;
            width: 30%;
        }
    }
    
    .main-news-container{
        display: flex;
        justify-content: space-between;
        text-align: left;
        @include block-center;
        .main-item{
            width: 28%;
            img{
                width: 100%;
                padding: 0 0 15px;
            }
            h4{
                font-size: 1.1rem;
            }
            p{
                margin: 10px 0;
                font-size: 1rem;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}